.section-about {
    padding: 10rem 0;
}

.section-features {
    margin-top: 6rem;
    padding: 16rem 0;
    background-image: url(../img/nat-4.jpg);
    background-size: cover;
}

.section-custumers {
    margin-top: 6rem;
    background-color: $color-primary-grey-light;
    padding: 16rem 0;
}